.product-table {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    background-color: white;
    width: 100%;
  }
  
  .product-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    margin: 10px;
    text-align: center;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    margin-left: 1rem;
  }
  
  .product-info {
    display: flex;
    width: auto;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
  }
  
  .product-name {
    font-weight: bold;
  }
  
  .product-price {
    margin-right: 1rem;
  }