/* ITEM 3 + ITEM 4 */
.card1 > div {
    margin-top: 1rem;
    padding: 0 1rem 0 1rem;
  }
  .card1 > div > p:first-child {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 5px;
    margin: 0;
  }
  .card1 div > p:nth-child(2) {
    font-size: 0.9rem;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: -1rem;
  }
  
  .semicircle_container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .item4 > div > p:nth-child(3) {
    margin: 0;
  }
  
  /* ITEM 6 */
  .item6 {
    display: flex;
  }
  
  .item6_text {
    max-width: 40%;
  }
  
  .item6 > div {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
  }
  
  /* CHARTS */
  .canvas_img {
    height: 10rem;
    max-width: 100%;
    padding: 1rem;
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .doughnut {
    width: 95% !important;
  }
  
  .doughnut_full {
    padding: 0.5rem !important;
    height: 50% !important;
    width: 150px !important;
  }