.review{
    width: 100%;
    margin-top: 10rem;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-top: 4rem;
}

.review .box-container .box{
    flex:1 1 30rem ;
    box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: 1rem solid rgba(0, 0, 0, 0.1);
}

.review .box-container .box .quote-right{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 6rem;
    color: #eee;
}

.review .box-container .box .stars .star{
    color: palevioletred;
    font-size: 2rem;
} 

.review .box-container .box p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
}


.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color: #333;
}

.review .box-container .box .user span{
    font-size: 1rem;
    color: #999;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: #5f5d5d;
    padding: 1rem;
    margin: 2rem 0;
    background: rgb(255, 51, 153,.05);
}

.heading span{
    color: palevioletred;
}
